# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Django migrations (generated)
board/migrations/*.py
!board/migrations/__init__.py

# Django static/media
staticfiles/
media/
